* {
  text-align: center;
  font-family: Optima;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header  {
  background: AliceBlue;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: Didot serif;
  font-size: 4rem;
  margin-bottom: 0.5rem;
  margin-top: 5rem;
}

h2 {
  font-family: Optima;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: grey;
  margin-bottom: 6rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.searchButton {
  margin-left: 1em;
  background: Grey;
  margin-bottom: 5rem;
}

.food {
  /*background: blue;*/
}

.food-name {

}

.macro-header {
  margin-top: 2rem;
}

.exercise-header {
  margin-top: 2rem;
}

.macro-name-container {
  /*background: yellow;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
	flex-wrap: wrap;
	align-content: center;
}

.macro-amount-container {
  /*background: blue;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
	flex-wrap: wrap;
	align-content: center;
}

.macro {
  display: flex;
  background: #f2e6ff;
  width: 6em;
  height: 6em;
  margin: 1em;
  justify-content: center;
  align-content: center;
  text-align: center;
  vertical-align: center;
  border: thin solid grey;
}

.macro p {
  justify-content: center;
  display: flex;
  vertical-align: center;
  margin-top: 3rem;
  border:
}

.exercise-name-container {
  /*background: purple;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
	flex-wrap: wrap;
	align-content: center;
}

.exercise-amount-container {
  /*background: orange;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
	flex-wrap: wrap;
	align-content: center;
}

.exercise {
  background: #76D7C4;
  width: 6em;
  height: 6em;
  margin: 1em;
  justify-content: center;
  align-content: center;
  text-align: center;
  vertical-align: center;
  display: flex;
  border: thin solid grey;
}

.exercise p {
  justify-content: center;
  display: flex;
  vertical-align: center;
  margin-top: 3rem;
}

.amount p {
  color: red;
}

.sugar {
  /*color: red;*/
}

.salt {
  /*color: pink;*/
}

.fat {
  /*color: purple;*/
}

.healthLabels-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
	flex-wrap: wrap;
	align-content: center;
  margin-top: 2rem;
}

.healthLabel {
  background: #FAF99B;
  margin: 1rem;
  border: thin solid grey;
  padding: 0.5rem;
}

.searchAgainButton {
  background: AliceBlue;
  border: black;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 15em;
  align-self: center;
  border: thin solid grey
}
