* {
  text-align: center;
  font-family: Raleway;
}

.app {
  background: #99ccff;
  display: flex;
  flex-direction: column;
}

.header {
}

.home {
  /*background: purple;*/
}

.food-choices {
  /*background: red;*/
}

.food {
  /*background: blue;*/
}

.food-choices-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.food-choice {
  background: #ff9999;
  align-items: flex-end;
}

.macro-choice-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}

.macro {
  background: #ff9999;
}

.sugar {
  /*color: red;*/
}

.salt {
  /*color: pink;*/
}

.fat {
  /*color: purple;*/
}

.actual {
  /*background: orange;*/
}

.macro-actual-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}
