* {
  text-align: center;
  font-family: Raleway;
  border: thin solid red;
}

.app {
  background: #99ccff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header  {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  background: #9999ff;
}

h1 {
  font-family: 'Londrina Outline', cursive;
  font-size: 5em;
  margin-bottom: 0.1em;
}

p.subheading {
  font-size: 2em;
  margin-bottom: 2em;
}

.searchButton {
  background: white;
  border: black;
  margin-left: 1em;
  background: #9999ff;
}

.food-choices {
  /*background: red;*/
}

.food {
  /*background: blue;*/
}

.food-choices-container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}

.food-choice {
  display: flex;
  background: tomato;
  flex-direction: column;
  padding: 5px;
  width: 150px;
  height: 100px;
  margin-top: 15px;
  line-height: 150px;
  font-size: 1em;
  text-align: center;
  justify-content: center;
}

.macro-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*width: 24em;*/
	flex-wrap: wrap;
	align-content: center;

}

.macro {
  background: #f2e6ff;
  width: 6em;
  height: 6em;
  margin: 1em;
}

.sugar {
  /*color: red;*/
}

.salt {
  /*color: pink;*/
}

.fat {
  /*color: purple;*/
}

.searchAgainButton {
  background: tomato;
  border: black;
  margin-top: 3em;
  width: 30em;
  align-self: center;
}
